$primaryColor: #2763a1;
body {
  h1 {
    color: $primaryColor;
  }
}

body {
  font-family: Verdana;
  font-size: 1.5em;
  color: #133150;
}

#team-members {
  clear: both;
  .member {
    float: left;
    /*border: 1px solid gray;*/
    margin: 10px;
    padding: 6px;
    img {
      width: 200px;
      height: 200px;
      border-radius: 15px 50px 30px;
      box-shadow: 5px 5px 5px grey;
      transition: all 1s ease;
      &.bw {
        display: none;
      }
      &.main {
        display:block;
      }
      &:hover {
        transform: scale(1.05);
      }
    }
    div.name {
      text-align: center;
      transition: all 1s ease;
    }
    &:hover {
      img.bw {
        display: block;
      }
      img.main {
        display: none;
      }
      div.name {
        transform: translateY(5px);
        color:  #e73d3d;
      }  
    }  
  }

}
